/* Global Styles */

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7; /* Light Gray Background */
}

/* Container Styles */

.container {
    perspective: 1000px; /* Add perspective to the container */
}

.card-container {
    cursor: pointer;
}

/* Card Styles */

.card {
    position: relative;
    width: 293px; /* Updated Width */
    height: 439px; /* Updated Height */
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 13.23px; /* Curve around the edges */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Front and Back Styles */

.front,.back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 13.23px; /* Inherit curve */
}

.front {
    background-color: #87CEEB; /* Sky Blue */
    /* Background Image will be contained within these dimensions */
}

.back {
    background-color: #FFC080; /* Light Coral */
    transform: rotateY(180deg); /* Flip the back side */
    /* Background Image will be contained within these dimensions */
}

.flipped {
    transform: rotateY(180deg);
}

/* Image Containment Styles */

.card-image {
    max-width: 100%; /* Ensure the image doesn't exceed the card's width */
    max-height: 100%; /* Ensure the image doesn't exceed the card's height */
    width: auto; /* Maintain the image's original width, scaled down if necessary */
    height: auto; /* Maintain the image's original height, scaled down if necessary */
    margin: auto; /* Center the image horizontally and vertically */
    display: block; /* Ensure proper margins */
    border-radius: inherit; /* Maintain the curved corners, if desired */
}

